/* img{
    width: 100%;
}
.img1{
    width: 300px;
    height: 300px;
}
.img2{
    width: 100px;
    height: 100px;
}
.img3{
    width: 100px;
    height: 100px;
}
.img4{
    width: 100px;
    height: 100px;
}
.cont{
    display: flex;
} */